<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h6 class="mb-0 text-center">Admin Login</h6>
            </div>
            <div class="card-body text-center">
                <form class="form" (ngSubmit)="onSubmit()">
                    <div class="form-group ">
                        <label for="">Username</label>
                        <input type="text" name="username" id="username" [(ngModel)]="username" class="form-control"
                            placeholder="Username" required autofocus> 
                            <label for="">Password</label>
                        <input type="text" name="password" id="password" [(ngModel)]="password" class="form-control"
                            placeholder="Password" required>
                        <p ciError>{{errorMessage}}</p>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="text-center">
                        <button class="btn  btn-success " type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>