<!-- <body class="text-center  has-error">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Enter OTP sent to your phone</h1>
        <label for="inputEmail" class="sr-only">OTP</label>
        <input type="text"  name="otp" id="inputEmail" ngModel class="form-control" placeholder="OTP" required autofocus><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</body> -->

<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h6 class="mb-0 text-center">Enter OTP sent to your phone</h6>
            </div>
            <div class="card-body text-center">
                <form class="form" (ngSubmit)="onSubmit()">
                    <div class="form-group ">
                        <label for="">OTP</label>
                        <input type="text" name="otp"  [(ngModel)]="otp" class="form-control" placeholder="OTP" required autofocus>
                        <p ciError>{{errorMessage}}</p>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="text-center">
                        <button class="btn  btn-success " type="submit">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>