<div style="padding-top: 50px;">
  <div class="flexbox">
    <ci-card-component [title]="todaysTitle" [subTitle]="todaysSubTitle" [data]="vaccinationCount"></ci-card-component>
    <ci-card-component [title]="'CoviSheild'" [subTitle]="'Total CoviSheild doses Administered'" [data]="covisheild">
    </ci-card-component>
    <ci-card-component [title]="'Covaxin'" [subTitle]="'Total Covaxin doses Administered'" [data]="covaxin">
    </ci-card-component>
    <ci-card-component [title]="'Sputnik'" [subTitle]="'Total Sputnik doses Administered'" [data]="sputnik">
    </ci-card-component>

  </div>

  <div style="padding-top: 10px;">
    <form>
      <div style="display: grid;">
        <mat-form-field appearance="fill">
          <mat-label>Select State</mat-label>
          <mat-select [(ngModel)]="selectedValue" (selectionChange)="getState($event)" name="food">
            <mat-option *ngFor="let state of states" [value]="state.state_id">
              {{state.state_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="display: grid;">
        <mat-form-field appearance="fill" *ngIf="districts">
          <mat-label>Districts</mat-label>
          <mat-select [(ngModel)]="selectedDistricts" (selectionChange)="getDistrictCode($event)" name="dist">
            <mat-option *ngFor="let district of districts" [value]="district.district_id">
              {{district.district_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </form>
    <div class="center">
      <button (click)="getDistrict()" mat-raised-button color="primary">Proceed</button>

    </div>

  </div>
  <div class="details">
    <div>
      <mat-card class="example-card" *ngIf="statevacinatedData">
        <mat-card-title>State Total Vaccination Statistics</mat-card-title>
        <mat-card-subtitle>Total Vaccination Doses</mat-card-subtitle>
        <mat-card-content>
          {{statevacinatedData.total | number}}
        </mat-card-content>
        <mat-card-subtitle>Dose 1</mat-card-subtitle>
        <mat-card-content>
          {{statevacinatedData.tot_dose_1 | number}}
        </mat-card-content>
        <mat-card-subtitle>Dose 2</mat-card-subtitle>
        <mat-card-content>
          {{statevacinatedData.tot_dose_2 | number}}
        </mat-card-content>
        <mat-card-subtitle>Todays vaccination Count</mat-card-subtitle>
        <mat-card-content>
          {{statevacinatedData.today | number}}
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="flag">
      <mat-card class="example-card" *ngIf="statevacinatedData">
        <mat-card-title>District Total Vaccination Statistics</mat-card-title>
        <mat-card-subtitle>Total Vaccination Doses</mat-card-subtitle>
        <mat-card-content>
          {{vaccinatedData.total | number}}
        </mat-card-content>
        <mat-card-subtitle>Dose 1</mat-card-subtitle>
        <mat-card-content>
          {{vaccinatedData.tot_dose_1 | number}}
        </mat-card-content>
        <mat-card-subtitle>Dose 2</mat-card-subtitle>
        <mat-card-content>
          {{vaccinatedData.tot_dose_2 | number}}
        </mat-card-content>
        <mat-card-subtitle>Todays vaccination Count</mat-card-subtitle>
        <mat-card-content>
          {{vaccinatedData.today | number}}
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  

  <div class="text-center" *ngIf="showloader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
</div>