<mat-toolbar color="primary">
  <span>
    <mat-icon>eco</mat-icon>Cowin Stat
  </span>
  <div class="spacer">

  </div>
  <a *ngIf="(loginStatus$ | async) as loginStatus" mat-button routerLink='/userhome'>Profile</a>
  <a mat-button routerLink='/home'>Home</a>
  <a mat-button routerLink='/book'>Book</a>
  <a mat-button routerLink='/world'>Cases</a>
  <a mat-button routerLink='/pin'>Pincode Search</a>
  <a mat-button routerLink='/login'>Download</a>
  <a *ngIf="!(loginStatus$ | async) as loginStatus" mat-raised-button routerLink='/signup'>Sign Up</a>
  <a *ngIf="(loginStatus$ | async) as loginStatus" (click)="signOut()" mat-raised-button routerLink='/signup'>
    <mat-icon>exit_to_app</mat-icon>
    Sign Out
  </a>