<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">Covid19 Portal</a>
    <ul class="nav nav-pills">
      <li><a class='nav-link' routerLink='/home' routerLinkActive="active">Home</a></li>
      <li><a class='nav-link' routerLink='/bookk' routerLinkActive="active">Book Vaccine</a></li>
      <li><a class='nav-link' routerLink='/world' routerLinkActive="active">Total Cases</a></li>
      <li><a class='nav-link' routerLink='/pin'routerLinkActive="active" >Pincode Search</a></li>
      <li><a class='nav-link' routerLink='/login'routerLinkActive="active" >Signin</a></li>
    </ul>
  </nav>
  